{% extends "main.html" %}


{% block content %}

<h2 class="content-head is-center">Kalkulator</h2>

<div class="pure-g">
<div class="l-box-lrg pure-u-1 pure-u-med-2-5">
	<form class="pure-form pure-form-stacked" action="{{app_url}}/app/calc.php" method="post">
		<fieldset>

			<label for="x">Kwota</label>
			<input id="x" type="text" placeholder="wartość kwoty" name="x" value="{{x}}">
			<label for="op">Oprocentowanie (%)</label>
			<input id="op" type="text" placeholder="wartosc %" name="op" value="{{op}}">

	
					
			<label for="y">Lata</label>
			<input id="y" type="text" placeholder="liczba lat" name="y" value="{{y}}">

			<button type="submit" class="pure-button">Oblicz</button>
		</fieldset>
	</form>
</div>






<div class="l-box-lrg pure-u-1 pure-u-med-3-5">

{# wyświeltenie listy błędów, jeśli istnieją #}
{% if messages is defined %}
	{% if messages|length > 0 %} 
		{% spaceless %}
		<h4>Wystąpiły błędy: </h4>
		<ol class="err">
		{% for msg in messages %}
			<li>{{ msg }}</li>
		{% endfor %}
		</ol>
		{% endspaceless %}
	{% endif %}
{% endif %}

{# wyświeltenie listy informacji, jeśli istnieją #}
{% if infos is defined %}
	{% if infos|length > 0 %} 
		{% spaceless %}
		<h4>Wystąpiły informacje: </h4>
		<ol class="inf">
		{% for msg in infos %}
			<li>{{ msg }}</li>
		{% endfor %}
		</ol>
		{% endspaceless %}
	{% endif %}
{% endif %}

{% if result is defined %}
	<h4>Wynik</h4>
	<p class="res">
	{{result}}
	</p>
{% endif %}

</div>
</div>

{% endblock %}